* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (max-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  #game {
    background-color:firebrick;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 200px;
    border: 1px solid #000;
  }
  #scoreSpan{
    text-align: center;
  }
  #character {
    height: 88px;
    width: 50px;
    position: relative;
    top: 120px;
    left: 20px;
  
  }
  #character img{
    position: inherit;
    right: 20px;
    bottom: 15px;
    margin: auto;
    height: 130px;
    width: 100px;
  }
  
  
  .jumper{
    animation: jumping 50s linear;
  }
  
  @keyframes jumping {
    0% {
      top: 60px;
    }
  
    40% {
      top: -10px;
    }
    50%{
      top: -10px;
      left: 100px;
    }
    60%{
      top: -10px;
      left:150px;
    }
    70%{
      top: 60px;
      left: 150px;
    }
    80%{
      top:60px;
      left: 150px;
    }
    90%{
      top: 60px;
      left: 100px;
    }
    100% {
      left: 20px;
      top: 60px;
    }
  }
  
  #obstacle {
    height: 40px;
    width: 40px;
    position: relative;
    left: 480px;
    top: 75px;
    animation: movement 3s linear infinite;
  }
  #obstacle img{
    height: 40px;
    width: 40px;
  }
  @keyframes movement {
    0% {
      left: 480px;
    }
  
    100% {
      left: 20px;
    }
  }
}

#game {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: 500px;
  height: 200px;
  border: 1px solid #000;
}
#scoreSpan{
  text-align: center;
}
#character {
  height: 58px;
  width: 50px;
  position: relative;
  top: 144px;
  left: 20px;

}
#character img{
  position: inherit;
  right: 18px;
  bottom: 34px;
  margin: auto;
  height: 120px;
  width: 100px;
}


.jumper{
  animation: jumping 0.3s linear;
}

@keyframes jumping {
  0% {
    top: 60px;
  }

  50% {
    top: -10px;
  }
  60%{
    top: -10px;
  }
  
  100% {
    top: 60px;
  }
}

#obstacle {
  height: 40px;
  width: 40px;
  position: relative;
  left: 480px;
  top: 105px;
  animation: movement 3s linear infinite;
}
#obstacle img{
  height: 40px;
  width: 40px;
}
@keyframes movement {
  0% {
    left: 480px;
  }

  100% {
    left: 20px;
  }
}
